@model HShop2024.Data.KhachHang

@{
    ViewData["Title"] = "Sửa thông tin nhân viên";
    Layout = "_Layout2";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="MaKh" class="control-label"></label>
        <input asp-for="MaKh" class="form-control" readonly />
        <span asp-validation-for="MaKh" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HoTen" class="control-label"></label>
        <input asp-for="HoTen" class="form-control" readonly />
        <span asp-validation-for="HoTen" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" readonly />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HieuLuc" class="control-label"></label>
        <input asp-for="HieuLuc" class="form-control" />
        <span asp-validation-for="HieuLuc" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lưu</button>
        <a asp-action="Index" class="btn btn-secondary">Hủy</a>
    </div>
</form>
