@{
    ViewData["Title"] = "Cài đặt";
}

<h2>Cài đặt</h2>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item">Tài khoản</li>
                <li class="list-group-item">Thông báo</li>
                <li class="list-group-item">Bảo mật</li>
            </ul>
        </div>
        <div class="col-md-9">
            <h4>Thông tin chung</h4>
            <p>Đây là trang cài đặt của bạn. Tại đây bạn có thể quản lý tài khoản, bảo mật và các cài đặt khác.</p>
        </div>
    </div>
</div>
