@model HShop2024.Data.NhanVien

@{
    ViewData["Title"] = "Xóa nhân viên";
    Layout = "_Layout2";
}

<h2>@ViewData["Title"]</h2>

<h3>Bạn có chắc chắn muốn xóa nhân viên này?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Mã NV</dt>
        <dd class="col-sm-10">@Model.MaNv</dd>

        <dt class="col-sm-2">Họ Tên</dt>
        <dd class="col-sm-10">@Model.HoTen</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="MaNv" />
        <button type="submit" class="btn btn-danger">Xóa</button>
        <a asp-action="Index" class="btn btn-secondary">Hủy</a>
    </form>
</div>
