@model HShop2024.Data.HangHoa

@{
    ViewData["Title"] = "Xóa hàng hóa";
    Layout = "_Layout2";
}

<h1>Xóa hàng hóa</h1>

<h3>Bạn có chắc chắn muốn xóa hàng hóa "@Model.TenHh"?</h3>

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaHh" />
        <div class="form-group">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Hủy</a>
        </div>
    </form>
</div>
