<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .welcome-container {
            display: flex;
            flex-direction: column; /* Đặt các phần tử theo cột */
            align-items: flex-start; /* Căn lề bên trái */
            text-align: left; /* Căn chỉnh văn bản bên trái */
        }

            .welcome-container h1 {
                margin: 0; /* Xóa khoảng cách mặc định giữa các tiêu đề */
            }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="welcome-container">
            <h1 class="display-4">Welcome</h1>
            <h1>Hân hạnh được phục vụ</h1>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
